*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

html {
  box-sizing: border-box;
  font-family: "Cute Font", sans-serif;
  color: #FF69B4;
  font-size: 16px;
}

p {
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF69B4;
  background-color: #FAF9F6;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.game {
  position: relative;
  width: 100vw;
  height: 200px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.char {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.obstacle {
  position: absolute;
  height: 30%;
  left: calc(var(--left) * 1%);
  bottom: 0;
}