//colors
$primary: #FF69B4;
$secondary: #FAF9F6;

//default sets & designs
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
html {
  box-sizing: border-box;
  font-family: 'Cute Font', sans-serif;
  color: $primary;
  font-size: 16px;
}
p {
  font-weight: bold;
}

//world
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  background-color: $secondary;
  height: calc(100vh);
  height: calc(var(--vh, 1vh) * 100);
}
.game {
  position: relative;
  width: 100vw;
  height: 200px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.char {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.obstacle {
  position: absolute;
  height: 30%;
  left: calc(var(--left) * 1%);
  bottom: 0;
}